{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/demo.css' %}">
<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
<link rel="stylesheet" href="{% static 'css/kaiadmin.css' %}">
<link rel="stylesheet" href="{% static 'css/plugins.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Расписание{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #77bcf1;

        }

        .container {
            text-align: center;
            border: 2px solid black;
            border-radius: 20px;
            background: #fff;
            margin: 20px auto;
            max-width: 1200px;
            padding: 20px;
            box-shadow: 10px 10px 10px black;
        }
        .post img {
            max-width: 100%;
            border-radius: 10px;
        }
    </style>
    {% block extra_head %}{% endblock %}

</head>
<body>
<div class="container">


<table class="table flights fl-arrival">
        <thead>
        <tr>
            <th class="airline_logo">Авиакомпания</th>
            <th class="flight_number">Рейс</th>
            <th class="airport_name">Прибывает из</th>
            <th class="airport_sector">Сектор</th>
            <th class="flight_time">Время прилета</th>
        </tr>
        </thead>
        <tbody style="">
        <tr data-href="/raspisanie-rejsov/prilety/2001456231" class="flights-item flights-item--special green">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">
            <td class="flight_number">
                <div bis_skin_checked="1">B2916</div>
            </td>
            <td class="airport_name">Москва (Шереметьево)</td>
            <td class="airport_sector">6</td>
            <td class="flight_time">
                <time datetime="2025-06-03T00:40:00+03:00">00:40</time>
            </td>
        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001455341" class="flights-item flights-item--special green">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">
            <td class="flight_number">
                <div bis_skin_checked="1">BRU8102</div>
            </td>
            <td class="airport_name">Анталья</td>
            <td class="airport_sector">1</td>
            <td class="flight_time">
                <time datetime="2025-06-03T01:20:00+03:00">01:20</time>
            </td>

        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001457351" class="flights-item flights-item--special green">
            <td class="airline_logo"><img src="{% static 'img/rwz.png' %}" alt="Rew Wings">
            <td class="flight_number">
                <div bis_skin_checked="1">WZ4705</div>
            </td>
            <td class="airport_name">Уфа</td>
            <td class="airport_sector">6</td>
            <td class="flight_time">
                <time datetime="2025-06-03T01:25:00+03:00">01:25</time>
            </td>

        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001460013" class="flights-item flights-item--special green">
            <td class="airline_logo"><img src="{% static 'img/afl.png' %}" alt="Aeroflot">
            <td class="flight_number">
                <div bis_skin_checked="1">SU1834</div>
            </td>
            <td class="airport_name">Москва (Шереметьево)</td>
            <td class="airport_sector">5</td>
            <td class="flight_time">
                <time datetime="2025-06-03T01:45:00+03:00">01:45</time>
            </td>

        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001459072" class="flights-item flights-item--special red green">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">
            <td class="flight_number">
                <div bis_skin_checked="1">BRU8172</div>
            </td>
            <td class="airport_name">Анталья</td>
            <td class="airport_sector">1</td>
            <td class="flight_time">
                <time datetime="2025-06-03T03:30:00+03:00">03:30</time>
            </td>

        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001464354" class="flights-item flights-item--special green">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">
            <td class="flight_number">
                <div bis_skin_checked="1">B2752</div>
            </td>
            <td class="airport_name">Урумчи</td>
            <td class="airport_sector">4</td>
            <td class="flight_time">
                <time datetime="2025-06-03T02:50:00+03:00">02:50</time>
            </td>

        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001449089" class="flights-item flights-item--special green">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">
            <td class="flight_number">
                <div bis_skin_checked="1">B2776</div>
            </td>
            <td class="airport_name">Астана (Межд. Аэропорт)</td>
            <td class="airport_sector">1</td>
            <td class="flight_time">
                <time datetime="2025-06-03T05:35:00+03:00">05:35</time>
            </td>

        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001457747" class="flights-item flights-item--special green">
            <td class="airline_logo"><img src="{% static 'img/ikar.png' %}" alt="Ikar">
            <td class="flight_number">
                <div bis_skin_checked="1">EO1101 / N41101</div>
            </td>
            <td class="airport_name">Нижний Новгород</td>
            <td class="airport_sector">6</td>
            <td class="flight_time">
                <time datetime="2025-06-03T06:10:00+03:00">06:10</time>
            </td>

        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001447014" class="flights-item flights-item--special green">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">
            <td class="flight_number">
                <div bis_skin_checked="1">B2736</div>
            </td>
            <td class="airport_name">Тбилиси (Лочини)</td>
            <td class="airport_sector">4</td>
            <td class="flight_time">
                <time datetime="2025-06-03T07:20:00+03:00">07:20</time>
            </td>

        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001456559" class="flights-item flights-item--special green">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">
            <td class="flight_number">
                <div bis_skin_checked="1">B2740 / J26740</div>
            </td>
            <td class="airport_name">Баку (Международный)</td>
            <td class="airport_sector">1</td>
            <td class="flight_time">
                <time datetime="2025-06-03T07:40:00+03:00">07:40</time>
            </td>

        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001447300" class="flights-item flights-item--special green">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">
            <td class="flight_number">
                <div bis_skin_checked="1">B2730</div>
            </td>
            <td class="airport_name">Кутаиси (Копитнари)</td>
            <td class="airport_sector">4</td>
            <td class="flight_time">
                <time datetime="2025-06-03T08:00:00+03:00">08:00</time>
            </td>

        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001453619" class="flights-item flights-item--special green">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">
            <td class="flight_number">
                <div bis_skin_checked="1">B2982 / UT4982</div>
            </td>
            <td class="airport_name">Москва (Внуково)</td>
            <td class="airport_sector">6</td>
            <td class="flight_time">
                <time datetime="2025-06-03T10:35:00+03:00">10:35</time>
            </td>

        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001459174" class="flights-item flights-item--special green">
            <td class="airline_logo"><img src="{% static 'img/afl.png' %}" alt="Aeroflot">
            <td class="flight_number">
                <div bis_skin_checked="1">SU1830</div>
            </td>
            <td class="airport_name">Москва (Шереметьево)</td>
            <td class="airport_sector">5</td>
            <td class="flight_time">
                <time datetime="2025-06-03T10:40:00+03:00">10:40</time>
            </td>

        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001452779" class="flights-item flights-item--special green">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">
            <td class="flight_number">
                <div bis_skin_checked="1">B2976</div>
            </td>
            <td class="airport_name">Москва (Шереметьево)</td>
            <td class="airport_sector">6</td>
            <td class="flight_time">
                <time datetime="2025-06-03T11:15:00+03:00">11:15</time>
            </td>

        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001454359" class="flights-item flights-item--special">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">
            <td class="flight_number">
                <div bis_skin_checked="1">B2942 / N47942 / WZ5942 / UT4942</div>
            </td>
            <td class="airport_name">С.-Петербург (Пулково)</td>
            <td class="airport_sector">6</td>
            <td class="flight_time">
                <time datetime="2025-06-03T12:20:00+03:00">12:20</time>
            </td>
        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001458604" class="flights-item flights-item--special">
            <td class="airline_logo"><img src="{% static 'img/fdb.png' %}" alt="FlyDubai">
            <td class="flight_number">
                <div bis_skin_checked="1">FZ1633</div>
            </td>
            <td class="airport_name">Дубай</td>
            <td class="airport_sector">1</td>
            <td class="flight_time">
                <time datetime="2025-06-03T12:30:00+03:00">12:30</time>
            </td>
        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001457867" class="flights-item flights-item--special">
            <td class="airline_logo"><img src="{% static 'img/ikar.png' %}" alt="Ikar">
            <td class="flight_number">
                <div bis_skin_checked="1">EO1105 / N41105</div>
            </td>
            <td class="airport_name">Пермь (Большое Савино)</td>
            <td class="airport_sector">6</td>
            <td class="flight_time">
                <time datetime="2025-06-03T13:30:00+03:00">13:30</time>
            </td>
        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001455837" class="flights-item flights-item--special">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">
            <td class="flight_number">
                <div bis_skin_checked="1">BRU8706</div>
            </td>
            <td class="airport_name">Ноябрьск</td>
            <td class="airport_sector">6</td>
            <td class="flight_time">
                <time datetime="2025-06-03T13:35:00+03:00">13:35</time>
            </td>
        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001448328" class="flights-item flights-item--special">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">
            <td class="flight_number">
                <div bis_skin_checked="1">B2958</div>
            </td>
            <td class="airport_name">Москва (Домодедово)</td>
            <td class="airport_sector">6</td>
            <td class="flight_time">
                <time datetime="2025-06-03T13:40:00+03:00">13:40</time>
            </td>
            <td class="flight_status"></td>
        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001461698" class="flights-item flights-item--special">
            <td class="airline_logo"><img src="{% static 'img/afl.png' %}" alt="Aeroflot">
            <td class="flight_number">
                <div bis_skin_checked="1">SU1842</div>
            </td>
            <td class="airport_name">Москва (Шереметьево)</td>
            <td class="airport_sector">5</td>
            <td class="flight_time">
                <time datetime="2025-06-03T13:45:00+03:00">13:45</time>
            </td>
            <td class="flight_status"></td>
        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001455254" class="flights-item flights-item--special red">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">
            <td class="flight_number">
                <div bis_skin_checked="1">BRU8104</div>
            </td>
            <td class="airport_name">Анталья</td>
            <td class="airport_sector">4</td>
            <td class="flight_time">
                <time datetime="2025-06-03T15:50:00+03:00">15:50</time>
            </td>
        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001460856" class="flights-item flights-item--special">
            <td class="airline_logo"><img src="{% static 'img/afl.png' %}" alt="Aeroflot">
            <td class="flight_number">
                <div bis_skin_checked="1">SU1836</div>
            </td>
            <td class="airport_name">Москва (Шереметьево)</td>
            <td class="airport_sector">5</td>
            <td class="flight_time">
                <time datetime="2025-06-03T16:20:00+03:00">16:20</time>
            </td>
            <td class="flight_status"></td>
        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001453939" class="flights-item flights-item--special">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">
            <td class="flight_number">
                <div bis_skin_checked="1">B2940 / N47940 / WZ5940 / UT4940</div>
            </td>
            <td class="airport_name">С.-Петербург (Пулково)</td>
            <td class="airport_sector">6</td>
            <td class="flight_time">
                <time datetime="2025-06-03T16:55:00+03:00">16:55</time>
            </td>
            <td class="flight_status"></td>
        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001462725" class="flights-item flights-item--special">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">
            <td class="flight_number">
                <div bis_skin_checked="1">B2718</div>
            </td>
            <td class="airport_name">Дубай</td>
            <td class="airport_sector">4</td>
            <td class="flight_time">
                <time datetime="2025-06-03T17:50:00+03:00">17:50</time>
            </td>
            <td class="flight_status"></td>
        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001447916" class="flights-item flights-item--special">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">>
            <td class="flight_number">
                <div bis_skin_checked="1">B2980 / UT4980</div>
            </td>
            <td class="airport_name">Москва (Внуково)</td>
            <td class="airport_sector">6</td>
            <td class="flight_time">
                <time datetime="2025-06-03T18:30:00+03:00">18:30</time>
            </td>
            <td class="flight_status"></td>
        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001451721" class="flights-item flights-item--special">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">
            <td class="flight_number">
                <div bis_skin_checked="1">B2784</div>
            </td>
            <td class="airport_name">Стамбул (Новый)</td>
            <td class="airport_sector">4</td>
            <td class="flight_time">
                <time datetime="2025-06-03T18:45:00+03:00">18:45</time>
            </td>
            <td class="flight_status"></td>
        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001463422" class="flights-item flights-item--special">
            <td class="airline_logo"><img src="{% static 'img/pbd.png' %}" alt="Победа">
            <td class="flight_number">
                <div bis_skin_checked="1">DP893</div>
            </td>
            <td class="airport_name">С.-Петербург (Пулково)</td>
            <td class="airport_sector">5</td>
            <td class="flight_time">
                <time datetime="2025-06-03T18:55:00+03:00">18:55</time>
            </td>
            <td class="flight_status"></td>
        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001459594" class="flights-item flights-item--special">
            <td class="airline_logo"><img src="{% static 'img/afl.png' %}" alt="Aeroflot">
            <td class="flight_number">
                <div bis_skin_checked="1">SU1832</div>
            </td>
            <td class="airport_name">Москва (Шереметьево)</td>
            <td class="airport_sector">5</td>
            <td class="flight_time">
                <time datetime="2025-06-03T20:10:00+03:00">20:10</time>
            </td>
            <td class="flight_status"></td>
        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001449278" class="flights-item flights-item--special">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">
            <td class="flight_number">
                <div bis_skin_checked="1">B2924</div>
            </td>
            <td class="airport_name">Махачкала</td>
            <td class="airport_sector">6</td>
            <td class="flight_time">
                <time datetime="2025-06-03T20:50:00+03:00">20:50</time>
            </td>
            <td class="flight_status"></td>
        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001448748" class="flights-item flights-item--special">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">
            <td class="flight_number">
                <div bis_skin_checked="1">B2956</div>
            </td>
            <td class="airport_name">Москва (Домодедово)</td>
            <td class="airport_sector"></td>
            <td class="flight_time">
                <time datetime="2025-06-03T21:20:00+03:00">21:20</time>
            </td>
            <td class="flight_status"></td>
        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001463021" class="flights-item flights-item--special">
                <td class="airline_logo"><img src="{% static 'img/pbd.png' %}" alt="Победа">
            <td class="flight_number">
                <div bis_skin_checked="1">DP967</div>
            </td>
            <td class="airport_name">Москва (Внуково)</td>
            <td class="airport_sector"></td>
            <td class="flight_time">
                <time datetime="2025-06-03T21:25:00+03:00">21:25</time>
            </td>
            <td class="flight_status"></td>
        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001454767" class="flights-item flights-item--special">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">
            <td class="flight_number">
                <div bis_skin_checked="1">B2946 / N47946 / WZ5946 / UT4946</div>
            </td>
            <td class="airport_name">С.-Петербург (Пулково)</td>
            <td class="airport_sector"></td>
            <td class="flight_time">
                <time datetime="2025-06-03T21:35:00+03:00">21:35</time>
            </td>
            <td class="flight_status"></td>
        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001462070" class="flights-item flights-item--special">
            <td class="airline_logo"><img src="{% static 'img/afl.png' %}" alt="Aeroflot">
            <td class="flight_number">
                <div bis_skin_checked="1">SU1844</div>
            </td>
            <td class="airport_name">Москва (Шереметьево)</td>
            <td class="airport_sector"></td>
            <td class="flight_time">
                <time datetime="2025-06-03T21:55:00+03:00">21:55</time>
            </td>
            <td class="flight_status"></td>
        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001453323" class="flights-item flights-item--special">
            <td class="airline_logo"><img src="{% static 'img/Belavia.png' %}" alt="БЕЛАВИА">            <td class="flight_number">
                <div bis_skin_checked="1">B2978</div>
            </td>
            <td class="airport_name">Москва (Шереметьево)</td>
            <td class="airport_sector"></td>
            <td class="flight_time">
                <time datetime="2025-06-03T23:30:00+03:00">23:30</time>
            </td>
            <td class="flight_status"></td>
        </tr>
        <tr data-href="/raspisanie-rejsov/prilety/2001458222" class="flights-item flights-item--special">
            <td class="airline_logo"><img src="{% static 'img/fdb.png' %}" alt="FlyDubai">
            <td class="flight_number">
                <div bis_skin_checked="1">FZ1715</div>
            </td>
            <td class="airport_name">Дубай</td>
            <td class="airport_sector"></td>
            <td class="flight_time">
                <time datetime="2025-06-03T23:30:00+03:00">23:30</time>
            </td>
            <td class="flight_status"></td>
        </tr>
        </tbody>
    </table>
</h1>

*Некоторые рейсы могут отличаться от сегодняйшей даты, т.к. это статичное расписание. Расписание на 03.06.2025

    <br>
    <button class="btn btn-secondary"><a href="{% url 'main' %}">На главную</a></button>


    {% block content %}{% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
{% block extra_js %}{% endblock %}

</body>
</html>