{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/demo.css' %}">
<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
<link rel="stylesheet" href="{% static 'css/kaiadmin.css' %}">
<link rel="stylesheet" href="{% static 'css/plugins.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой Блог{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #77bcf1;

        }

        .container {
            text-align: center;
            border: 2px solid black;
            border-radius: 20px;
            background: #fff;
            margin: 20px auto;
            max-width: 1200px;
            padding: 20px;
            box-shadow: 10px 10px 10px black;
        }
        .post img {
            max-width: 100%;
            border-radius: 10px;
        }
    </style>
    {% block extra_head %}{% endblock %}

</head>
<body>
    <div class="container">
<h1>Наш флот:</h1>
        <br>
<h1>Boeing 737-300</h1>
<img src="{% static 'img/733.jpg' %}" alt="733">
<h1> 2 самолета: EW-366PA и EW-254PA</h1>
<p>ICAO code: B733<br>
завод-изготовитель: United States, Renton<br>
Длина: 33,4 м<br>
Размах крыла: 28,9 м<br>
Высота: 11,1 м<br>
Макс. взлетный вес: 56 470 кг<br>
Крейсерская скорость: 780–793 км/ч (Mach 0,74)<br>
Дальность полета: 4 200 – 4 600 км (зависит от нагрузки и конфигурации)<br>
Потолок высоты: 11 300 м (37 000 футов)<br>
Возраст ~29.6 лет<br>
*на фотке изображен Boeing 737-300 EW-254PA<br>
*Boeing 737-300 EW-366PA временно не эксплуатируется</p><br>





<h1>Boeing 737-800</h1>
<img src="{% static 'img/738.jpg' %}" alt="738">
<h1> 5 самолетов: EW-455PA, EW-456PA, EW-457PA, EW-527PA, EW-544PA</h1>
<p>ICAO code: B738<br>
завод-изготовитель: United States, Renton<br>
Длина: 39,5 m<br>
Размах крыла: 35,7 m<br>
Высота: 12,5 m<br>
Максимальный вес при взлете: 79000 кг<br>
Крейсерская скорость: 842 км/ч (Mach 0,79) <br>
Дальность полета: 5 769 km<br>
Потолок высоты: 41 000 ft (12 500 m)<br>
Емкость топливного бака (крыло+фюзеляж): 7,8 t + 13,1 t<br>
Возраст ~11.5 лет<br>
*на фотке изображен Boeing 737-800 EW-456PA<br><br></p>





<h1>Boeing 737 MAX 8</h1>
<img src="{% static 'img/38.jpg' %}" alt="38">
<h1>1 самолет: EW-528PA</h1>
<p>ICAO code: B38M<br>
завод-изготовитель: United States, Renton<br>
Длина: 39,5 m<br>
Размах крыла: 35,9 m<br>
Высота: 12,3 m<br>
Максимальный вес при взлете: 82190 кг<br>
Крейсерская скорость: 842 км/ч (Mach 0,79) <br>
Дальность полета: 6 570 km<br>
Потолок высоты: 41 000 ft (12 500 m)<br>
Емкость топливного бака (крыло+фюзеляж): 7,8 t + 13,1 t<br>
Возраст ~6.5 лет<br>
*на фотке изображен Boeing 737 MAX 8 EW-528PA<br>
*Boeing 737 MAX 8 EW-528PA временно не эксплуатируется<br><br></p>




<h1>Embraer 175LR</h1>
<img src="{% static 'img/E75L.jpg' %}" alt="75">
<h1>1 самолет: EW-512PO</h1>
<p>ICAO code: E75L<br>
завод-изготовитель: Brazil, São José dos Campos<br>
Длина: 31,68 m<br>
Размах крыла: 26 m<br>
Высота: 9,86 m<br>
Максимальный вес при взлете: 38800 кг<br>
Крейсерская скорость: 850 км/ч (Mach 0,79) <br>
Дальность полета: 3 500 km<br>
Потолок высоты: 41 000 ft (12 500 m)<br>
Емкость топливного бака (крыло+фюзеляж): 9,5 t<br>
Возраст ~7.2 лет<br>
*на фотке изображен Embraer 175 EW-512PO<br></p><br>




<h1>Embraer 195LR</h1>
<img src="{% static 'img/E195.jpg' %}" alt="195">
<h1>4 самолета: EW-399PO, EW-400PO, EW-513PO, EW-514PO</h1>
<p>ICAO code: E195<br>
завод-изготовитель: Brazil, São José dos Campos<br>
Длина: 38,65 m<br>
Размах крыла: 28,72 m<br>
Высота: 10,55 m<br>
Максимальный вес при взлете: 52290 кг<br>
Крейсерская скорость: 870 км/ч (Mach 0,80) <br>
Дальность полета: 4 815 km<br>
Потолок высоты: 41 000 ft (12 500 m)<br>
Емкость топливного бака (крыло+фюзеляж): 16.3 t<br>
Возраст ~9,125 лет<br>
*на фотке изображен Embraer 195 EW-400PO<br></p><br>




<h1>Airbus A330-243</h1>
<img src="{% static 'img/a332.jpg' %}" alt="332">
<h1>3 самолета: EW-587PD, EW-588PD, EW-589PD</h1>
<p>ICAO code: a332<br>
завод-изготовитель: France, Toulouse (TLS)<br>
Длина: 58,82 m<br>
Размах крыла: 60,3 m<br>
Высота: 17,39 m<br>
Максимальный вес при взлете: 242000 кг<br>
Крейсерская скорость: 870 км/ч (Mach 0,80) <br>
Дальность полета: 12 000 km<br>
Потолок высоты: 42 650 ft (13 000 m)<br>
Емкость топливного бака (крыло+фюзеляж): 109.185 t<br>
Возраст ~22,5 лет<br>
*на фотке изображен Airbus A330-243 EW-588PD<br></p>
        {% block content %}{% endblock %}

    <br><button class="btn btn-secondary"><a href="{% url 'main' %}">На главную</a></button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    {% block extra_js %}{% endblock %}

</body>
</html>