<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой Блог{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #77bcf1;

        }

        .container {
            text-align: center;
            border: 2px solid black;
            border-radius: 20px;
            background: #fff;
            margin: 20px auto;
            max-width: 1200px;
            padding: 20px;
            box-shadow: 10px 10px 10px black;
        }
        .post img {
            max-width: 100%;
            border-radius: 10px;
        }
    </style>
    {% block extra_head %}{% endblock %}

</head>
<body>
    <div class="container">
<h1>История компании</h1>

<h1>Днем рождения авиакомпании «Белавиа» официально считается 5 марта 1996 года, но так как образована она была на базе Белорусского объединения гражданской авиации, то история начинается с 1993 года. При этом белорусская гражданская авиация берет свое начало с 7 ноября 1933 года, когда состоялось торжественное открытие Минского аэровокзала, где весной 1934 года приземлились три первых самолета По-2, принадлежавших Смоленскому авиаподразделению спецприменения Московского управления гражданского воздушного флота. Именно этот момент стал решающим в становлении и развитии гражданской авиации Республики Беларусь.</h1>

    <h1>В 1936 году был открыт первый почтово-пассажирский рейс между Минском и Москвой, а к 1940 году их насчитывалось уже восемь.</h1>

<h1>С 1961 года по 1983 происходит активное пополнение воздушного флота Белорусского управления гражданской авиации. За эти годы был приобретен турбовинтовой самолет Ан-10, получил белорусскую прописку реактивный пассажирский самолет Ту-124, началась эксплуатация самолета Ту-134А. В августе 1983 года во владение Минской авиационной технической базы перешел первый самолет Ту-154.</h1>

<h1>После распада СССР и обретения независимости Республики Беларусь в 1991 году было образовано Белорусское объединение гражданской авиации «Белавиа», которое унаследовало парк воздушных судов, принадлежавших Белорусскому управлению. В структуру объединения входили все предприятия гражданской авиации Республики Беларусь.</h1>

<h1>5 марта 1996 года была проведена реорганизация Белорусского объединения гражданской авиации, в результате которой была образована Национальная авиакомпания «Белавиа».</h1>

<h1>В этот период (1995-1997 г.) были открыты рейсы в Ларнаку, Лондон, Пекин, Рим и Стамбул.</h1>

<h1>12 августа 1997 года «Белавиа» вступила в действительные члены Международной ассоциации воздушного транспорта (ИАТА).</h1>

<h1>Происходит расширение географии полетов и в 1998 году. В это время открывается новый маршрут Минск-2 – Прага – Минск-2. В этом же году произошло слияние двух авиакомпаний «Белавиа» и «Минскавиа», в результате чего на баланс авиакомпании поступили самолеты Ан-24, Ан-26 и Як-40.</h1>

<h1>В 2000 году объединились авиакомпании «Белавиа» и «Могилевавиа».</h1>

<h1>18 мая 2001 года открыто регулярное сообщение между Минском и Парижем.</h1>

<h1>На следующий год (2002) было подписано первое соглашение «код-шеринг» с Австрийскими авиалиниями, которое положило начало активному сотрудничеству с зарубежными партнерами.</h1>

<h1>Успешным в работе был отмечен 2003 год. В этот период «Белавиа» начинает выполнять регулярные рейсы в Калининград, в октябре этого же года в Национальный аэропорт «Минск» прибыл первый самолет западного производства «Боинг 737-500», который был взят авиакомпанией в оперативный лизинг. А подписанное коммерческое соглашение между «Белавиа» и «Air Baltic» о предоставлении блоков мест на рейсах Минск-Рига-Минск позволило сделать первые шаги в совместной работе двух авиакомпаний.</h1>

<h1>О профессиональном признании авиакомпании свидетельствует тот факт, что в феврале 2004 года «Белавиа» стала обладателем Бронзовой медали Национального конкурса БРЭНД ГОДА 2003 в номинации «Брэнд Профи». Ввод в эксплуатацию второго Боинга 737/500 и подписание между «Белавиа» и «Аэрофлотом» код-шерингового соглашения на выполнение рейсов Минск-Москва-Минск также стали значительными событиями в 2004 году.</h1>

<h1>Результатом взаимодействия «Белавиа» и «ЧСА-Чешских авиалиний» в мае 2005 года стало открытие линии Минск-Прага-Минск в соответствии с подписанным соглашением «код-шеринг».</h1>

<h1>Богатым на события оказался и 2007 год: в феврале осуществилась поставка первого регионального самолета CRJ-100 LR, начали выполняться регулярные полеты по маршруту Минск-Баку при участии азербайджанской авиакомпании «Азал», в целях укрепления позиций на рынке и совершенствовании информационной структуры «Белавиа» в марте устанавливает контакты с SABRE Airline Solution и внедряет систему, позволяющую использовать технологию электронного билета при работе с турагентствами и партнерами по интрелайн- соглашениям, а также начинает внедрять программу поощрения часто летающих пассажиров. Продажа электронных билетов (e-ticket) «Белавиа» в системе «Амадеус» через агентов по продаже авиаперевозок (BSP) Австрии, Италии, Польши, Швеции, Германии, Украины, Кипра и Чехии становится возможной уже в июле 2007 года. В этом же году для пассажиров стало возможным осуществлять перелет по новому регулярному рейсу Минск-Санкт-Петербург.</h1>

<h1>С 11 февраля 2008 года у пассажиров, вылетающих рейсами из Москвы, появляется возможность покупки электронного авиабилета. Электронный билет показал явные преимущества перед бумажным билетом, особенно на таком маршруте как Москва – Минск, где большинство пассажиров - это деловые люди, ценящие свое время. С внедрением технологии электронного авиабилета исчезла необходимость ехать в кассу за билетом или заранее приезжать в аэропорт, чтобы оформить его до вылета.</h1>

<h1>Неприятный инцидент произошел 14 февраля, когда в аэропорту «Звартноц» города Ереван (Республика Армения) при взлете перевернулся и загорелся самолет CRJ-100 LR, направляющийся в Минск. Жертв и пострадавших не было.</h1>

<h1>2008 год был отмечен как год активного сотрудничества с иностранными партнерами. Подписанные электронные интерлайн-соглашения с авиакомпаниями «Air One» (Италия), «LOT» (Польша), «Air Baltic» (Латвия), «Austrian Airlines», «Aerosvit» (Украина), «British Airways», «Lufthansa» (Германия), «KD Avia» (Россия), израильской «El Al» и «S7» (Россия) расширили возможности полетов.</h1>

<h1>Прямое сообщение между Минском и Миланом, налаженное в июне 2008 года, – это еще один шаг в расширении маршрутной сети, а открытие представительством второго собственного офиса- шаг в удовлетворении постоянно растущего спроса на авиаперевозки между Беларусью и Италией.</h1>

<h1>В рамках реализации государственной программы развития гражданской авиации Республики Беларусь «Белавиа» приобретает в 2008 году в оперативный лизинг два «Боинга 737/500» и один «Боинг 737/300» от американской лизинговой компании «ILFC- International Leasing Finance Corporation» («Международная Лизинговая Финансовая Корпорация»). Обновление парка самолетами, соответствующими всем международным требованиям безопасности, отличающимися большой вместимостью и комфортностью, было произведено с целью эксплуатации их на наиболее загруженных регулярных и чартерных рейсах.</h1>

<h1>В июле 2008 года Минск посетила делегация Международной Ассоциации Воздушного Транспорта (ИАТА)- крупнейшая всемирная неправительственная организация авиакомпаний, созданная с целью поощрения безопасного и экономического развития воздушного транспорта. Были обсуждены вопросы участия РБ в международных системах, разработанных ИАТА, продвижения новых технологий быстрого и качественного обслуживания пассажиров, процесс внедрения электронного билета. Особое внимание было уделено вопросу создания в Беларуси международной системы взаиморасчетов BSP Беларусь.</h1>

<h1>Важным событием конца 2008 года является внесение «Белавиа» в регистр ИАТА как авиакомпании, соответствующей стандартам эксплуатационной безопасности (IOSA). Наличие сертификата IOSA подтверждает использование авиакомпанией передовых стандартов в области управления безопасностью полетов, определяет международный статус безопасного перевозчика, дает потенциал к расширению международного сотрудничества с ведущими авиакомпаниями мира, упрощает выход на новые рынки.</h1>

<h1>Об успешном начале 2009 года говорит вступление «Белавиа» в систему взаиморасчетов BSP ИАТА в Казахстане. Это позволяет обеспечивать продажу билетов на рейсы авиакомпании аккредитованными агентами ИАТА.</h1>

<h1>За первую половину 2009 года «Белавиа» взяла в лизинг и ввела в эксплуатацию четыре самолета западного производства: два – Боинг 737/300 и два CRJ – 200, а самолет Ан-24 был выведен из состава воздушного флота авиакомпании.</h1>

<h1>В августе этого же года Национальная авиакомпания «Белавиа» открывает новый регулярный рейс по маршруту Минск-Амстердам-Минск.</h1>

<h1>11 ноября 2009 года вошло в историю авиакомпании «Белавиа» как день, когда был приобретен первый авиабилет «Белавиа» через сеть Интернет на сайте авиакомпании. В тот раз пассажир приобрел билет на рейс Минск-Москва-Минск в экономическом классе.</h1>

<h1>В том же месяце авиакомпания стала лауреатом Первой Национальной Премии в области маркетинга «Энергия успеха» в номинации «Лучшие коммуникации, выстроенные средствами BTL».</h1>

<h1>С 4 декабря «Белавиа» открывает продажу электронных билетов на рейсы национального голландского авиаперевозчика «KLM Royal Dutch Airlines». Таким образом пассажиры, летающие рейсами «Белавиа», получили дополнительную возможность путешествовать в страны Европы, Северной и Южной Америки через Амстердам.</h1>

<h1>С конца 2009 года на бортах ВС Национального авиаперевозчика начинает полеты новый ежемесячный бортовой журнал авиакомпании «Belavia ON AIR».</h1>

<h1>Начало следующего года ознаменовалось для «Белавиа» открытием нового маршрута Минск – Рига.</h1>

<h1>7 апреля в Национальном аэропорту «Минск» приземлится очередной самолет американского производства Boeing 737/500, приобретенный авиакомпанией «Белавиа» в оперативный лизинг. Так парк воздушных судов стал насчитывать уже шесть самолетов данной модификации.</h1>

<h1>17 Мая 2010 «Белавиа» и крупнейший французский авиаперевозчик Air France внедрили электронное интерлайн-соглашение, на основании которого обе стороны получили возможность оформлять электронные перевозочные документы на рейсы друг друга.</h1>

<h1>Важным и приятным событием для Национальной авиакомпании «Белавиа» стало присоединение в июле к Европейской ассоциации региональных авиакомпаний (ERAA).</h1>

<h1>Динамично развивая партнерские отношения, за второе полугодие 2010 года авиакомпания «Белавиа» заключила двустороннее интерлайн-соглашение (а следом за ним и электронное интерлайн-соглашение) с американской авиакомпанией «Дельта». Еще одним партнером для «Белавиа» стала авиакомпания «Татарстан», с которой также было подписано интерлайн-соглашение.</h1>

<h1>Продолжая развивать маршрутную сеть, авиакомпания «Белавиа» открывает новое направление в географии полетов: 15 сентября 2010 года из Национального аэропорта вылетел первый рейс в Батуми – старейший курортный город Грузии.</h1>

<h1>Спустя месяц пассажирам «Белавиа» открылась возможность приобретения электронного авиабилета на рейсы в Стамбул.</h1>

<h1>В соответствии с государственной программой развития гражданской авиации «Белавиа» приобретает в оперативный лизинг очередное воздушное судно – самолет CRJ-200LR канадского производителя Bombardier. 26 октября он приземлился в Национальном аэропорту «Минск», прилетев из датского города Сондерборг.</h1>

<h1>2010 год стал для «Белавиа» по-настоящему богатым на события. В преддверии новогодних праздников авиакомпания открывает еще один регулярный рейс. На этот раз пассажирам предложен маршрут Минск – Ашхабад – Минск. С 14 декабря полеты в столицу Туркменистана стали выполняться один раз в неделю.</h1>

<h1>В 2011 были открыты новые регулярные направления Хельсинки, Симферополь, Караганда, а полеты в Астану и Ганновер стали выполняться на круглогодичной основе. Рейсы в Калининград выполняются не только из Минска, но и из областных центров Брест, Гомель, Гродно.</h1>

<h1>«Белавиа» заключила интерлайн-соглашение с Бельгийской железной дорогой Accessrail. Комбинированные авиа- и железнодорожные билеты позволили пассажирам в аэропорту пересаживаться на поезда, следующие до пунктов, в которые не осуществляется воздушное сообщение.</h1>

<h1>На сайте авиакомпании был реализован проект «3D-флот», благодаря которому можно совершить виртуальную экскурсию по самолетам, эксплуатируемые компанией на регулярных и чартерных направлениях.</h1>

<h1>В 2011 году пассажиропоток авиакомпании впервые превысил один миллион пассажиров. Миллионный пассажир был перевезен в декабре 2011 года на рейсе Минск-Берлин.</h1>

<h1>В 2012 году карта регулярных полетов «Белавиа» пополнилась двумя новыми направлениями: Новосибирск и Барселона.</h1>

<h1>В сентябре 2012 года впервые в истории авиакомпании были взяты в оперативный лизинг два новых воздушных судна Embraer 175 с завода-изготовителя в Бразилии.</h1>

<h1>Кроме этого в 2012 году пассажиры получили возможность регистрироваться на рейсы «Белавиа» через интернет.</h1>

<h1>В 2013 году открыто 6 новых направлений. Весной был открыт рейс в седьмой по счету пункт назначения в России - Самару. Кроме этого, в конце мая начали совершаться полеты в третий город Грузии – Кутаиси.</h1>

<h1>18 апреля авиакомпания «Белавиа» стала официальным участником многостороннего грузового интерлайн-соглашения MITA (Multilateral Interline Traffic Agreement), действующего под эгидой Международной ассоциации воздушного транспорта ИАТА (IATA).</h1>

<h1>В конце мая было подписано код-шеринговое соглашение с Национальной авиакомпанией Объединенных Арабских Эмиратов Etihad Airways. Белавиа является маркетинговым перевозчиком на рейсах в Абу-Даби, Хошимин, Сидней и Мельбурн, оперируемых Etihad Airways.</h1>

<h1>В июне 2013 года флот авиакомпании пополнился ещё одним Boeing 737-300.</h1>

<h1>19 сентября был открыт первый рейс авиакомпании, который связал не только Будапешт, Белград и Минск, но и столицы Венгрии и Сербии между собой.</h1>

<h1>В конце ноября 2013 года «Белавиа» внесена в реестр таможенных перевозчиков. Авиакомпания получила право перевозки товаров своих клиентов в пределах Таможенного союза Беларуси, России и Казахстана и проводить таможенную очистку ввозимого непосредственно в пункте назначения.</h1>

<h1>17 декабря был открыт новый авиарейс по маршруту Минск-Женева-Минск, а 19 декабря был выполнен первый регулярный полет в Вильнюс.</h1>

<h1>3 января 2014 года в Национальном аэропорту «Минск» приземлился очередной Boeing 737-300 авиакомпании «Белавиа».</h1>

<h1>29 января РУП «Национальная авиакомпания «Белавиа» было реорганизовано в ОАО «Авиакомпания «Белавиа».</h1>

<h1>В октябре 2014 года «Белавиа» приняла решение о проведении ребрендинга. В июне 2014 года авиакомпания «Белавиа» и корпорация Boeing подписали соглашение о первой покупке трех новых самолетов Boeing 737-800 Next-Generation с завода-изготовителя.</h1>

<h1>В конце следующего года авиакомпания «Белавиа» открыла ежедневный рейс по маршруту Минск-Одесса-Минск. Одесса стала вторым украинским пунктом в маршрутной сети белорусского перевозчика.</h1>

<h1>Знаменательным событием закончился 2015 год для ОАО «Авиакомпании «Белавиа» Впервые в истории авиакомпании пассажиропоток достиг двух миллионов человек. Двухмиллионный пассажир был определен на регистрации регулярного рейса № В2 868 Амстердам-Минск.</h1>

<h1>Первая женщина-пилот приступила к работе в авиакомпании «Белавиа» 12 февраля 2016.</h1>

<h1>Летом того же года в Национальном аэропорту «Минск» приземлился Boeing 737-800, прибывший с завода-изготовителя (г. Сиэтл, США) в новой ливрее «Белавиа».</h1>

<h1>12 сентября 2016 авиакомпания совершила первый полет в новый аэропорт Московской области «Жуковский» и стала первым перевозчиком, который начал выполнять полеты в новый международный аэропорт Московской области «Жуковский».</h1>

<h1>В апреле 2017 года ОАО «Авиакомпания «Белавиа» выполнила первый регулярный рейс по маршруту Минск - Брюссель (Шарлеруа) - Минск.</h1>

<h1>А в мае были возобновлены регулярные рейсы в Ереван и открыто новое направление Минск-Нижний Новгород-Минск.</h1>

<h1>30 декабря 2017 года годовой пассажиропоток «Белавиа» впервые в истории авиакомпании достиг трех миллионов человек. Предварительно, общее количество пассажиров по итогам 2017 года ориентировочно составит 3 008 000 человек.</h1>

<h1>Весной 2018 года авиакомпания «Белавиа» выполнила первый рейс в Казань и Ростов-на Дону. А спустя полгода был открыт еще один регулярный рейс по маршруту Минск-Кишинев-Минск.</h1>

<h1>30 июня 2018 года в Национальном аэропорту Минск приземлился самолет Embraer-195 в новой ливрее «Белавиа».</h1>

<h1>Авиакомпания «Белавиа» и ОАО АК «Уральские авиалинии» подписали двустороннее соглашение о совместной эксплуатации авиалиний с 1 августа 2018 г.</h1>

<h1>Белавиа и AZAL подписали соглашение о совместной эксплуатации авиалинии 19 октября.</h1>

<h1>В конце октября был совершен первый полет в Кишенев.</h1>

<h1>12 декабря 2018 года в Национальном аэропорту «Минск» приземлился брендированный в фирменные цвета World of Tanks самолет «Белавиа». Воздушное судно стало вторым совместным проектом компаний.</h1>

<h1>В этом же месяце «Белавиа» совершила первый полет в Воронеж.</h1>

<h1>Весной 2019 года два новых Embraer-175 и 195 пополнили флот авиакомпании «Белавиа».</h1>

<h1>В апреле этого же года был открыт рейс в аэропорт «Шереметьево», а в мае авиакомпания совершила первый полет в столицу Эстонии.</h1>

<h1>15 июля «Белавиа» выполнила первый полет в Мюнхен.</h1>

<h1>В ноябре 2019 авиакомпания «Белавиа» перешла на новую структуру тарифов, которая включат в себя 5 видов: 4 тарифа эконом: «Промо», «Лайт», «Смарт», «Флекс» и 1 тариф категории «Бизнес». С этого момента пассажиры могут самостоятельно выбирать набор услуг для перелета.</h1>

<h1>14 декабря флот авиакомпании «Белавиа» пополнился еще одним новым самолетом Embraer – 195 (бортовой номер EW-545PO).</h1>

<h1>В 2019 году пассажиропоток авиакомпании впервые превысил четыре миллиона пассажиров. 4-ех миллионный пассажир был перевезен 24 декабря на рейсе Минск-Париж. В 2019 году авиакомпания обслужила на 20 % больше пассажиров, чем за аналогичный период в 2018 году.</h1>

<h1>В феврале 2020 года авиакомпания подписала контракт на поставку трех самолетов нового поколения Embraer E195-E2.</h1>

<h1>В феврале и марте 2020 года флот авиакомпании пополнился двумя лизинговыми воздушными суднами Boeing 737-800 (EW-543PA и EW-544PA).</h1>

<h1>25 апреля 2020 г. «Белавиа» совершила первый полет в Вену.</h1>

<h1>7 июля 2020 года был выполнен первый регулярный рейс по маршруту Минск-Ташкент-Минск.</h1>

<h1>С 1 августа 2020 года в «Белавиа» изменились условия покупки дополнительного багажа на регулярных рейсах авиакомпании. С этого момента стоимость зависит от времени и способа приобретения услуги.</h1>

<h1>5 сентября 2020 года воздушный флот авиакомпании «Белавиа» пополнился новым самолетом Embraer-175, который прибыл с завода-изготовителя (г. Сан-Жозе-дус-Кампус, Бразилия) в рамках лизингового договора, подписанного ОАО «Авиакомпания «Белавиа» и лизинговой компанией Nordic Aviation Capital.</h1>

<h1>В сентябре «Белавиа» стала первой авиакомпанией в мире, получившей сертификат IATA третьего уровня (Level 3) благодаря технологиям Sabre NDC.</h1>

<h1>В октябре Авиакомпания «Белавиа» присоединилась к Отраслевой хартии по предотвращению распространения COVID-19, разработанной Европейским агентством по безопасности полетов (EASA) и Европейским центром профилактики и контроля заболеваний (ECDC).</h1>

<h1>23 декабря 2020 г. флот авиакомпании «‎Белавиа»‎ пополнился новым самолетом Embraer E195-E2. «Белавиа» стала седьмой авиакомпанией мира, летающей на воздушных судах Embraer второго поколения.</h1>

<h1>2 февраля 2021 года генеральным директором ОАО «Авиакомпания «Белавиа» назначен Игорь Николаевич Чергинец.</h1>

<h1>19 февраля 2021 г. авиакомпания «Белавиа» начала выполнение регулярных рейсов по маршруту Минск-Дубай-Минск.</h1>

<h1>13 марта 2021 г. в Национальном аэропорту Минск приземлился новый Embraer 195-E2, который стал вторым воздушным судном данного типа во флоте авиакомпании «Белавиа». Самолет отличается от других юбилейной ливреей: теперь на хвосте можно увидеть цифры «25», а на фюзеляже – слоган авиакомпании.</h1>

<h1>16 марта 2021 г. «Белавиа» презентовала собственное мобильное приложение.</h1>

<h1>8 апреля флот авиакомпании «Белавиа» пополнился первым самолетом Boeing 737-8. Белавиа» стала двадцать первой авиакомпанией в мире, которая начнет эксплуатировать Boeing 737-8.</h1>

<h1>7 мая авиакомпания «Белавиа» начала выполнять регулярные рейсы в Екатеринбург.</h1>

<h1>8 мая флот авиакомпании «Белавиа» пополнился третьим самолетом Embraer 195-E2.</h1>

<h1>12 мая авиакомпания «Белавиа» начала выполнять рейсы по маршруту Минск-Самара-Минск.</h1>

<h1>31 мая «Белавиа» запустила регулярные рейсы в Уфу.</h1>

<h1>В июне 2021 года в соответствии с планом модернизации флота авиакомпания "Белавиа" вывела из эксплуатации свой первый Boeing 737-500.</h1>

<h1>4 августа авиакомпания «Белавиа» выполнила первый регулярный рейс в Кутаиси.</h1>

<h1>26 мая 2022 года авиакомпания представила обновленную версию мобильного приложения. Благодаря обновлению пассажир может авторизироваться в личном кабинете и отслеживать важную для него информацию: баланс на счету программы лояльности «Белавиа Лидер», статус бронирования, будущие забронированные полеты и т.д.</h1>

<h1>15 июля 2022 года в маршрутной сети «Белавиа» появился третий московский аэропорт – Внуково.</h1>

<h1>28 июля 2022 года самому современному самолету «Белавиа» Boeing 737-8 присвоено имя первого генерального директора Анатолия Николаевича Гусарова, который возглавлял авиакомпанию на протяжении 25 лет. Памятная надпись Anatoly Gusarov исполнена в сером цвете и расположена на носовой части фюзеляжа с левой стороны.</h1>

<h1>25 октября 2022 года «Белавиа» выполнила первый регулярный рейс в Туркменбаши (Туркменистан).</h1>

<h1>С 4 марта 2023 открыта чартерная программа в Доху (Катар).</h1>

<h1>23 мая 2023 открыто регулярное авиасообщение между Минском и Мурманском.</h1>

<h1>11 августа авиакомпания выполнила первый регулярный рейс по маршруту Минск-Дели-Минск.</h1>

<h1>В сентябре 2023 «Белавиа» перешла на новую систему бронирования авиабилетов «Леонардо».</h1>

<h1>29 октября 2023 авиакомпания открыла регулярные рейсы в Москву из Гомеля.</h1>

<h1>С января 2024 объявления и инструкции для пассажиров авиакомпании на борту озвучивает известный ведущий Владимир Богдан.</h1>

<h1>С февраля 2024 осуществить покупку билета на сайте belavia.by можно через платежный сервис Оплати.</h1>

<h1>С 22 марта авиакомпания начала регулярные полеты между Гомелем и Санкт-Петербургом.</h1>

<h1>23 марта 2024 в 15:35 по минскому времени с космодрома «Байконур» стартовала ракета "Союз-2.1а" с кораблем "Союз МС-25" с первой белорусской космонавткой Мариной Василевской на борту. До полета в космос Марина 7 лет проработала бортпроводником «Белавиа». В честь этого значимого события один из самолетов авиакомпании примерил «космическую» ливрею.</h1>

<h1>03 апреля 2024 белорусский авиаперевозчик открывает регулярные рейсы между Брестом и Москвой.</h1>

<h1>26 апреля 2024 «Белавиа» запустила прямые рейсы Минск-Махачкала.</h1>

<h1>14 ноября «Белавиа» презентовала масштабный совместный проект с хоккейным клубом «Динамо Минск». Один из самолетов Embraer теперь в ливрее, брендированной в цвета хоккейного клуба.</h1>

<h1>В декабре 2024 «Белавиа» выполнила первый регулярный рейс между Беларусью и Китаем. Рейс из в Урумчи вылетел из Минска 16 декабря.</h1>

<h1>27 февраля 2025 «Белавиа» открыла чартерные рейсы из Минска в Салалу (Оман).</h1>

<h1>В декабре 2025 «Белавиа» презентовала новую форму бортпроводников.</h1>

<h1>2 апреля открыт первый регулярный рейс Брест-Санкт-Петербург.</h1>

<h1>28 апреля открыто первое регулярное направление из Могилева - полеты в Москву.</h1>

<h1>8 мая «Белавиа» запустила мультимедийную систему на борту.</h1>

<button class="btn btn-secondary"><a href="{% url 'main' %}">На главную</a></button>

    {% block content %}{% endblock %}
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    {% block extra_js %}{% endblock %}

</body>
</html>