{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/demo.css' %}">
<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
<link rel="stylesheet" href="{% static 'css/kaiadmin.css' %}">
<link rel="stylesheet" href="{% static 'css/plugins.css' %}">

<!<h1>Регистрация</h1>

<form class="form-group" method="POST">
    {% csrf_token %}
<!--{    {{ form.as_p }}    }-->

    <label for="id_username">Username</label>
    <input
        type="text"
        class="form-control"
        name="username"
        id="id_username"
        placeholder="Enter username"
        required
        maxlength="150"
    />
    <label for="id_email">Email Address</label>
    <input
        type="email"
        class="form-control"
        name="email"
        id="id_email"
        placeholder="Enter Email"
    />
    <label for="id_password1">Password</label>
    <input
        type="password"
        class="form-control"
        name="password1"
        id="id_password1"
        placeholder="Password"
        required
    />
    <ul>
       <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
    </ul>
    {{ errors }}
    <label for="id_password2">Confirm Password</label>
    <input
        type="password"
        class="form-control"
        name="password2"
        id="id_password2"
        placeholder="Password"
        required
    />
    <button type="submit" class="btn btn-success">Зарегистрироваться</button>
    <p>или</p>
    <button class="btn btn-warning"><a href="{% url 'login' %}">Войти</a></button>
</form>